@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap') ;

:root {

  --radius: 5px;

  --shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  font-family: Shadows Into Light, cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.container-title {
  width: 70%;
  background-color: rgb(65, 25, 127);
  height: 90px;
  display: flex;
  align-items: center;
  padding: 40px;
}

.container-cartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 48%;
  height: 90px;
  padding: 40px;
}

.container-cartTitle .cart__title {
  color: rgb(65, 25, 127);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cart__title i {
  margin-right: 12px;
}

.container {
  display: flex;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  margin: 40px 0;
}

.item {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: auto;
  margin: 10px;
  width: 220px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: white;
  padding: 20px;
}

#item__id {
  align-items: center;
  display: flex;
  text-align: center;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: aqua;
  border: 2px solid rgb(5, 52, 219);
  cursor: pointer;
  margin: 0;
  padding: 5px;
  border-radius: 20px;
  font-family: Shadows Into Light, cursive;
  font-size: 15px;
  font-weight: 700;
}

.cart {
  display: flex;
  flex-flow: column wrap;
  color: black;
  background-color: white;
  height: 100vh;
}

.cart .cart__items {
  height: 500px;
  width: 690px;
  overflow-y: scroll;
  color: black;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid rgb(5, 52, 219);
  border-radius: 20px;
  color: black;
  background-color: aqua;
}
